@(form:Form[_])(implicit request:Request[_])

@helper.form(routes.Search.haves, 'class -> "search-haves-form") {

    @helper.inputText(form("q"), '_label -> "What are you looking for?", '_class -> "query")
    @if(User.currentUser.isDefined) {
        @defining(User.currentUser.get.profile.zipcode) { zipcode =>
            @helper.input(form("zipcode"), '_class -> "zipcode") { (id, name, value, params) =>
               <input type="hidden" id="@id" name="@name" value="@zipcode" />
               @Html(zipcode)
            }
        }
    } else {
        @helper.inputText(form("zipcode"), '_label -> "ZIP", '_class -> "zipcode")
    }
    @helper.select(form("cat_id"), Seq("1"->"Cats"), '_label -> "In category:", '_class -> "category")
    <input type="submit" value="Search" />
}
