@import "vars";
@import "mixins";
@import "app";

.no-show {
  display: none;
}

.container {
  @include container;
}

.deprecated * {
  opacity: 0.5;
  text-decoration: line-through;
}

.ajax-post {
  border: 2px dotted #ff00ff;
}

.ajax-waiting {
  background: gray;
}

.ajax-failed {
  background: red;
}

.ajax-toggle-pair {

  .ajax-toggle {
    display: none;
  }

  .ajax-toggle-active {
    display: inherit;
  }
}

form {
  dd.info {
    font-size: 0.75em;
    margin-top: -0.75em;
    float: right;
    display: inline;
  }
  dd.error {
    display: inline-block;
  }
}

ul {
  list-style: none;

  &.bulleted {
    list-style: inherit;
  }
}

ul.inline {

  list-style: none;

  li {
    display: inline-block;
  }

}

table {
  thead.center {
    th {
      text-align: center;
    }
  }
}

nav {
	color: #999;
	.name {
		font-size: 1.2em;
	}
}

body {
  background: #eee;

  .content-wrapper {
    margin-top: 50px;
  }
}

.admin-panel {
  background: $color-admin;
}

.pairs {
  .pair {
    .pair-left {
      width: 100px;
      text-align: right;
      display: inline-block;
      background: #ddd;
      padding: 10px;
      color: #222;
    }
    .pair-right {
      display: inline-block;
    }
  }
}
